.App {
  text-align: center;
}

.listBox {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  padding: 10px;
  list-style: none;
  border: 1px solid #3b82f6;
  border-radius: 4px;
}
.detailBox {
  background-color: #e9ecff;
  padding: 20px;
  height: 100vh;
}

.searchBar input {
  width: 300px;
  border: 1px solid #d1d5db;
  padding: 10px;
  border-radius: 4px;
}
.searchBar input:focus {
  border: 1px solid #3b82f6 !important;
  outline: none;
}
